.main-container {
  text-align: center;
  height: 100vh;
}

.big-text {
  font-size: 5rem;
  font-weight: 700;
  color: rgb(55, 55, 55);
}

.big-generate-text {
  font-size: 8rem;
  font-weight: 750;
  color: rgb(55, 55, 55);
  line-height: 1;
}

.btn-large-bold {
  font-weight: 700 !important;
  border-radius: 0 !important;
  font-size: 2.5rem !important;
}

.btn-bold {
  font-weight: 700 !important;
  border-radius: 0 !important;
}

.dump-header {
  top: 2rem;
  z-index: 1;
}

.fixed-top {
  left: 50px !important;
  text-align: start;
}

.form-control {
  font-size: 3rem !important;
  text-align: center;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

.bold-text {
  font-weight: 700 !important;
}

.highlight-word {
  text-decoration: underline;
  cursor: pointer;
}

.statement-text {
  padding-bottom: 2rem;
}

.statement-input.form-control {
  padding: 0;
  font-size: 5rem !important;
  font-weight: 700 !important;
  color: rgb(55, 55, 55);
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
}

.sub-text {
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border: 1px solid;
  transition: 0.5s ease;
}

.locked-text {
  color: rgb(233, 233, 233);
  background-color: grey;
}

.unlocked-text {
  color: rgba(0, 0, 0, 0.5);
}

.toast-alert {
  bottom: 15px;
  left: 15px;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 20px !important;
  width: 7rem;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .statement-input.form-control,
  .big-text {
    font-size: 3rem !important;
  }

  .big-generate-text {
    font-size: 5rem;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .statement-input.form-control,
  .big-text {
    font-size: 1.4rem !important;
    line-height: 2rem;
  }

  .big-generate-text {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .btn-large-bold {
    font-size: 1.5rem !important;
  }

  .toast-alert {
    bottom: 15px;
    left: 0;
  }

  .form-control {
    font-size: 2rem !important;
  }

  .sub-text {
    line-height: 1rem;
    top: 30px;
    width: 60px;
  }

  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    width: auto;
  }

  .fixed-top {
    left: 10px !important;
  }
}
